.blog {
  width: 100%;
  
  margin: 0px;
  border: 0px;
  padding: 0px;
  
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.blogEntrySpacer {
  width: 480px;
  height: 0px;
  margin-left: 32px;
  margin-right: 32px;
}

.blogEntry {
  width: 480px;
  
  margin: 32px;
  border: 0px;
  padding: 0px;
  
  /* material design card styling */
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /*https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d*/
}

.blogEntryImage {
  width: 100%;
  height: auto;
  
  /* negate img styling from page.css */
  padding: initial;
  border: initial;
  display: initial;
  margin-left: initial;
  margin-right: initial;
}
.blogLinkIcon {
  height: 8px;
  vertical-align: middle;
  margin-right: 4px;
  
  /* negate img styling from page.css */
  padding: initial;
  border: initial;
  display: initial;
  margin-left: initial;
}

.blogEntryDate {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  
  color: #595959;
  font-family: sans-serif;
  font-size: 10pt;
}

.blogEntryTitle {
  margin-left: 16px;
  margin-right: 16px;
  
  font-family: sans-serif;
  font-size: 26pt;
}

.linkContainer {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.tag {
  /*height: 20px;*/
  display: inline-block;
  border-radius: 20px;
  
  border: 0px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  
  margin-top: 2px;
  margin-bottom: 2px;
  
  text-decoration: none;
  
  background-color: #949494;
  color: white !important;
  font-family: sans-serif;
  font-size: 12px;
}

.blogEntryBody {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
  
  font-family: serif;
  font-size: 12pt;
}

@media (prefers-color-scheme: dark) {
  .blogEntry {
    background-color: #252f2f;
  }
  .blogEntryDate {
    color: #a0a0a0;
  }
  .tag {
    background-image: linear-gradient(#bbb, #bbb);
    background-blend-mode: multiply;
  }
}
