body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.titlebar {
  width: calc(100% - 30px);
  
  margin: 0px;
  border: 0px;
  padding: 15px;
}

#titlebar_main {
  font-family: sans-serif;
  font-size: 36pt;
  /* background-color: #2979ff; */
  background-color: #333;
  color: white;
}
#titlebar_sub {
  font-family: sans-serif;
  font-size: 16pt;
  
  padding-top: 0px;
  padding-bottom: 0px;
  
  background-color: #bbb;
  color: #444;
}

.titlebar_button {
  display: inline-block;
  
  padding-top: 7px;
  padding-bottom: 7px;
  
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
.titlebar_button.selected {
  background-color: #999;
  color: #222;
}
.titlebar_button a {
  color: inherit !important;
  text-decoration: inherit;
}

@media (prefers-color-scheme: dark) {
  #titlebar_main {
    background-color: #222;
    color: #ccc;
  }
  #titlebar_sub {
    background-color: #202929;
    color: #ccc;
  }
  .titlebar_button.selected {
    background-color: #394545;
    color: #ddd;
  }
}
