.content {
  font-family: serif;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

footer {
  font-size: smaller;
}

img {
  padding: 10px;
  border: 1px solid black;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background-color: #e9e9e9;
  
  padding: 10px;
  display: table;
}
pre.inline {
  display: inline-block;
  padding: 5px;
  margin: 0px;
}
pre.wrap {
  white-space: pre-wrap;
  word-break: break-all;
}
code {
  background-color: #e9e9e9;
  padding: 5px;
  margin: 0px;
}

/* Make a <div> look like a <p> -- used to avoid build-tools/build-page.py parser bug */
.p {
  margin-top: 1em;
  margin-bottom: 1em;
}
