.entry {
  padding: 16px;
  border-bottom: 1px solid #aaa;
}

.entry_title {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
}
.entry_title a {
  color: inherit;
  text-decoration: inherit;
}

.entry_desc {
  margin-top: 4px;
  
  font-family: "Noto Serif", serif;
  font-size: 12pt;
}
